<header class="border border-top-0 border-left-0 border-right-0 border-warning">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a routerLink="/" class="navbar-brand">
            <img src="assets/logo.png" class="img-logo" alt="Cake Bakery">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto" *ngIf="userIsAuthenticated">
                <a mat-button routerLink="/" class="nav-item nav-link" routerLinkActive="mat-accent">Home</a>
                <a mat-button routerLink="/create" class="nav-item nav-link" routerLinkActive="mat-accent">Add Post</a>
                <a mat-button routerLink="/myprofile" class="nav-item nav-link" routerLinkActive="mat-accent">View Profile</a>
                <a mat-button class="nav-item nav-link" routerLinkActive="mat-accent" (click)="onLogout()"><i class="fa fa-power-off"></i></a>
            </div>
            <div class="navbar-nav ml-auto" *ngIf="!userIsAuthenticated">
                <a mat-button routerLink="/" class="nav-item nav-link" routerLinkActive="mat-accent">Home</a>
                <a mat-button routerLink="/auth/login" class="nav-item nav-link" routerLinkActive="mat-accent">Login</a>
                <a mat-button routerLink="/auth/signup" class="nav-item nav-link" routerLinkActive="mat-accent">Signup</a>
            </div>
        </div>
    </nav>
</header>