<div class="container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <section class="my-col" *ngIf="!isLoading">
        <div class="row">
            <div class="col-sm-6 p-4 my-3 mx-auto border">
                <h2 class="text-center p-3">Sign Up</h2>
                <form [formGroup]="form" (submit)="onSignup()" *ngIf="!isLoading" autocomplete="off">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>Full Name</mat-label>
                                    <input matInput type="text" (keypress)="onlyText($event)" formControlName="fullName" placeholder="Your Name" autocomplete="off">
                                    <mat-error *ngIf="form.get('fullName').invalid">Please Enter Full Name</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>Email</mat-label>
                                    <input matInput type="text" (keypress)="omit_number($event)" formControlName="email" placeholder="E-Mail" autocomplete="off">
                                    <mat-error *ngIf="form.get('email').invalid">Please enter a valid email.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>Username</mat-label>
                                    <input matInput type="text" (keypress)="noSpecialCharacters($event)" formControlName="userName" placeholder="Username" autocomplete="off">
                                    <mat-error *ngIf="form.get('userName').invalid">Require Minimum 6 letters including atleast 1 Uppercase and 1 Digit)</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group mb-0">
                                <mat-form-field class="mat-password-field">
                                    <mat-label>Password</mat-label>
                                    <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
                                    <input matInput [type]="toggle.type" formControlName="password" placeholder="Password" autocomplete="off">
                                    <mat-error *ngIf="form.get('password').invalid">Please enter a valid password.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <mat-password-strength #passwordComponent [password]="form.value.password"></mat-password-strength>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group my-2">
                                <mat-slide-toggle formControlName="enableDetails" color="primary">Show Password Details</mat-slide-toggle>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <mat-password-strength-info [passwordComponent]="passwordComponent" *ngIf="form.value.enableDetails"></mat-password-strength-info>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <mat-form-field class="mat-password-field">
                                    <mat-label>Confirm Password</mat-label>
                                    <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
                                    <input matInput [type]="toggle.type" formControlName="confirmPassword" placeholder="Confirm Password" autocomplete="off">
                                    <mat-error *ngIf="form.get('confirmPassword').invalid">Paswords must match</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="text-center  mar-top-20">
                                <button type="submit" *ngIf="!isLoading" class="btn btn-primary text-center">Signup</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>