<div class="container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <section *ngIf="!isLoading">
        <h2 class="text-center p-3">Add / Edit Post</h2>
        <div class="row">
            <div class="col-sm-4 p-4 ml-auto mr-2 border border-danger">
                <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
                    <div class="form-group mb-0">
                        <mat-form-field>
                            <input matInput type="text" formControlName="title" autocomplete="off" placeholder="Post Title">
                            <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group mb-0">
                        <mat-form-field>
                            <textarea matInput rows="4" formControlName="content" placeholder="Post Content"></textarea>
                            <mat-error *ngIf="form.get('content').invalid">Please enter a post title.</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="button" (click)="filePicker.click()">Pick Image</button>
                            <input type="file" #filePicker (change)="onImagePicked($event)">
                        </div>
                    </div>
                    <div class="text-center">
                        <button mat-raised-button color="accent" type="submit">Save Post</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-4 ml-0 mr-auto border border-success">
                <h6 class="text-center pt-3">Post Preview</h6>
                <hr class="mb-1 mt-0">
                <div class="card my-3">
                    <div class="card-body">
                        <h4 class="card-title">{{form.value.title}}</h4>
                        <p class="card-text">{{form.value.content}}</p>
                    </div>
                    <img class="card-img-bottom" [src]="imagePreview" alt="Card image" style="width:100%; height:350px;" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
                </div>
            </div>
        </div>
    </section>
</div>