<div class="container">
    <h2 class="text-center p-3">Add / Edit Post</h2>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <section class="my-col" *ngIf="!isLoading">
        <div class="row text-center">
            <div class="col-sm-4 p-4 my-3 border">
                <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput type="text" formControlName="title" placeholder="Post Title">
                            <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <textarea matInput rows="4" formControlName="content" placeholder="Post Content"></textarea>
                            <mat-error *ngIf="form.get('content').invalid">Please enter a post title.</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="button" (click)="filePicker.click()">Pick Image</button>
                            <input type="file" #filePicker (change)="onImagePicked($event)">
                        </div>
                    </div>
                    <div class="text-center">
                        <button mat-raised-button color="accent" type="submit">Save Post</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-4 p-4 my-3 ml-3 mr-auto border" *ngIf="form.valid">
                <div class="card">
                    <h4 class="card-title">Post Preview</h4>
                    <div class="card-body">
                        <h4 class="card-title">{{form.value.title}}</h4>
                        <p class="card-text">{{form.value.content}}</p>
                    </div>
                    <img class="card-img-bottom" [src]="imagePreview" alt="Card image" style="width:100%" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
                </div>
            </div>
        </div>
    </section>
</div>