<div class="container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <section class="my-col">
        <div class="row">
            <div class="col-sm-2 p-2 my-3 ml-3 mr-3 border">
                <div class="">
                    <img src="../../../assets/img_avatar1.png" class="img-thumbnail mx-auto d-block img-fluid" alt="" />
                </div>
                <div>
                    <hr>
                    <h3>{{fullName}}</h3>
                    <p> Your Posts : <span>{{posts.length}}</span></p>
                    <div class="text-center">
                        <a href="editpost.html" class="btn btn-primary">Add New Post</a>
                    </div>
                </div>
            </div>
            <p class="info-text mat-body-1 text-center" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>
            <div class="col-sm-8 p-2 my-3 border" *ngIf="posts.length > 0 && !isLoading">
                <div class="row">
                    <div class="col-sm-5 p-3 my-3 ml-auto mr-3 border" *ngFor="let post of posts">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">{{ post.title }}</h6>
                                <p class="card-text">{{ post.content }}</p>
                            </div>
                            <img class="card-img-bottom" [src]="post.imagePath" alt="Card image" style="width:100%; height:150px;">
                        </div>
                        <div>
                            <span><i class="fa fa-comments"></i>{{post.comments.length}}</span>
                        </div>
                        <div *ngIf="userIsAuthenticated && userId === post.creator">
                            <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
                            <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
                        </div>
                        <hr>
                        <div *ngIf="post.comments.length>0">
                            <div *ngFor="let comment of post.comments" class="p-2 border border-bottom-0">
                                <p>{{ comment.message}}</p>
                                <p>{{ comment.commentBy}} :{{ comment.date}} </p>
                            </div>
                        </div>
                        <div class="p-2 border" *ngIf="userIsAuthenticated">
                            <input type="text" class="form-control" name="comment" [(ngModel)]="comment" placeholder="addComment">
                            <button mat-button color="primary" (click)="onComment(post.id)">Post</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="my-col">

    </section>

    <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="posts.length > 0"></mat-paginator>


</div>