<!-- <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="primary" maxWidth="auto" proportion="25" slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
    <mat-carousel-slide #matCarouselSlide *ngFor="let post of posts; let i = index" [image]="post.imagePath" overlayColor="#00000040" [hideOverlay]="false">
    </mat-carousel-slide>
</mat-carousel> -->


<!-- <main> -->
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
    <mat-expansion-panel *ngFor="let post of posts">
        <mat-expansion-panel-header>
            {{ post.title }}
        </mat-expansion-panel-header>
        <div class="post-image">
            <img [src]="post.imagePath" [alt]="post.title">
        </div>
        <p>{{ post.content }}</p>
        <mat-action-row *ngIf="userIsAuthenticated && userId === post.creator">
            <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
            <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
        </mat-action-row>

        <div *ngIf="post.comments.length>0">
            <div *ngFor="let comment of post.comments">
                <p>{{ comment.message}}</p>
                <p>{{ comment.commentBy}} :{{ comment.date}} </p>
            </div>
        </div>
        <div *ngIf="userIsAuthenticated">
            <input name="comment" [(ngModel)]="comment" placeholder="addComment">
            <button mat-button color="primary" (click)="onComment(post.id)">Post</button>
        </div>
    </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="posts.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>

<!-- </main> -->