<div class="container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <section *ngIf="posts.length > 0 && !isLoading">
        <div class="row">
            <div class="col-sm-9 mx-auto">
                <div *ngFor="let post of posts.slice().reverse()">
                    <div class="card my-3 mx-auto border border-info">
                        <!-- <div class="pt-3">
                            <div class="px-3">
                                <i class="fa fa-smile-o"></i>
                                <i> Posted By <b>Trupti</b></i>
                            </div>
                            <hr>
                        </div> -->
                        <div class="card-body pt-0">
                            <h5 class="card-title">{{post.title}}</h5>
                            <p class="card-text">{{post.content}}</p>
                        </div>
                        <img class="card-img-bottom" [src]="post.imagePath" alt="Card image" style="width:100%; height:350px;">
                        <div class="clearfix p-2">
                            <span class="float-left"><i class="fa fa-comments"></i>{{post.comments.length}}</span>
                            <span class="float-right" *ngIf="userIsAuthenticated && userId === post.creator">
                                <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
                                <a mat-button color="warn" (click)="onDelete(post.id)">DELETE</a>
                            </span>
                        </div>
                        <hr class="my-0">
                        <div *ngIf="post.comments.length>0">
                            <div *ngFor="let comment of post.comments" class="p-2 border border-top-0 border-left-0 border-right-0">
                                <p class="mb-0"><i class="fa fa-user-circle"></i><b class="text-info"> {{comment.commentBy}}</b></p>
                                <div class="clearfix px-4">
                                    <span class="float-left">{{comment.message}}</span>
                                    <span class="float-right"><small class="text-muted">{{ comment.date}}</small></span>
                                </div>
                            </div>
                        </div>
                        <div class="p-2" *ngIf="userIsAuthenticated">
                            <input type="text" class="form-control" name="comment" (keypress)="omit_number($event)" [(ngModel)]="comment" placeholder="addComment">
                            <div class="text-right">
                                <button mat-button color="accent" (click)="onComment(post.id)">POST</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 p-2" *ngIf="userIsAuthenticated">
                <h6 class="float-right mt-4">Welcome, <span><i>{{userName}}</i></span></h6>

            </div>
        </div>
    </section>

</div>
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="posts.length > 0"></mat-paginator>
<div class="row" *ngIf="posts.length <= 0 && !isLoading">
    <div class="col-sm-9 border mx-auto border-info">
        <p class="info-text mat-body-1 text-center">No posts added yet!</p>
    </div>
</div>